@keyframes slide-fade-in-dropdown-animation {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.slide-fade-in-dropdown {
    overflow: hidden;
}

.slide-fade-in-dropdown > ul {
    animation: slide-fade-in-dropdown-animation .4s ease;
}

@keyframes slide-fade-out-dropdown-animation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

.slide-fade-out-dropdown {
    overflow: hidden;
}

.slide-fade-out-dropdown > ul {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
}

.components-dropdown > ul {
    position: relative;
    top: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
}

.hover_li {
    position:absolute;
    width: 344px;
    height:35px;
    line-height: 35px;
    border: 3px solid #2f2a2a;
    border-radius: 0 0 10px 10px;
    color: #2f2a2a;
    font-weight: bold;
}

.hover_li:hover {
    background-color: #2f2a2a;
    color:white;
}